<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>CalcRoll</string>
			</array>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Icon57s1</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>CalcRoll Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.azukid.${PRODUCT_NAME:identifier}</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon57s1@2x.png</string>
		<string>Icon72s1.png</string>
		<string>Icon57s1.png</string>
		<string>Default@2x.png</string>
		<string>Default-Portrait@2x~ipad.png</string>
		<string>Default-Landscape@2x~ipad.png</string>
		<string>Icon72s1@2x.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon57s1@2x.png</string>
				<string>Icon72s1.png</string>
				<string>Icon57s1.png</string>
				<string>Default@2x.png</string>
				<string>Default-Portrait@2x~ipad.png</string>
				<string>Default-Landscape@2x~ipad.png</string>
				<string>Icon72s1@2x.png</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.azukid.${PRODUCT_NAME:identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CalcRoll</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>Icon57s1</string>
			<key>CFBundleURLName</key>
			<string>CalcRoll</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>db-62f2rrofi788410</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.1.6.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>NSMainNibFile~ipad</key>
	<string>MainWindow-iPad</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>CalcRoll Document</string>
			<key>UTTypeIdentifier</key>
			<string>com.azukid.${PRODUCT_NAME:identifier}</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>CalcRoll</string>
				<key>public.mime-type</key>
				<string>application/vnd.calcroll</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
