<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Pages</key>
	<array>
		<array>
			<dict>
				<key>Alpha</key>
				<real>0.80000001192092896</real>
				<key>Color</key>
				<integer>3</integer>
				<key>Size</key>
				<integer>18</integer>
				<key>Tag</key>
				<integer>401</integer>
				<key>Text</key>
				<string>111</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000001192092896</real>
				<key>Color</key>
				<integer>3</integer>
				<key>Size</key>
				<integer>18</integer>
				<key>Tag</key>
				<integer>402</integer>
				<key>Text</key>
				<string>222</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000001192092896</real>
				<key>Color</key>
				<integer>3</integer>
				<key>Size</key>
				<integer>18</integer>
				<key>Tag</key>
				<integer>403</integer>
				<key>Text</key>
				<string>222</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000001192092896</real>
				<key>Color</key>
				<integer>3</integer>
				<key>Size</key>
				<integer>18</integer>
				<key>Tag</key>
				<integer>404</integer>
				<key>Text</key>
				<string>222</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000001192092896</real>
				<key>Color</key>
				<integer>3</integer>
				<key>Size</key>
				<integer>18</integer>
				<key>Tag</key>
				<integer>405</integer>
				<key>Text</key>
				<string>222</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000001192092896</real>
				<key>Color</key>
				<integer>3</integer>
				<key>Size</key>
				<integer>18</integer>
				<key>Tag</key>
				<integer>401</integer>
				<key>Text</key>
				<string>111</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000001192092896</real>
				<key>Color</key>
				<integer>3</integer>
				<key>Size</key>
				<integer>18</integer>
				<key>Tag</key>
				<integer>402</integer>
				<key>Text</key>
				<string>222</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000001192092896</real>
				<key>Color</key>
				<integer>3</integer>
				<key>Size</key>
				<integer>18</integer>
				<key>Tag</key>
				<integer>403</integer>
				<key>Text</key>
				<string>222</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000001192092896</real>
				<key>Color</key>
				<integer>3</integer>
				<key>Size</key>
				<integer>18</integer>
				<key>Tag</key>
				<integer>404</integer>
				<key>Text</key>
				<string>222</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000001192092896</real>
				<key>Color</key>
				<integer>3</integer>
				<key>Size</key>
				<integer>18</integer>
				<key>Tag</key>
				<integer>405</integer>
				<key>Text</key>
				<string>222</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000001192092896</real>
				<key>Color</key>
				<integer>3</integer>
				<key>Size</key>
				<integer>18</integer>
				<key>Tag</key>
				<integer>406</integer>
				<key>Text</key>
				<string>555</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000001192092896</real>
				<key>Color</key>
				<integer>3</integer>
				<key>Size</key>
				<integer>18</integer>
				<key>Tag</key>
				<integer>407</integer>
				<key>Text</key>
				<string>222</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000001192092896</real>
				<key>Color</key>
				<integer>3</integer>
				<key>Size</key>
				<integer>18</integer>
				<key>Tag</key>
				<integer>408</integer>
				<key>Text</key>
				<string>222</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000001192092896</real>
				<key>Color</key>
				<integer>3</integer>
				<key>Size</key>
				<integer>18</integer>
				<key>Tag</key>
				<integer>409</integer>
				<key>Text</key>
				<string>222</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.5</real>
				<key>Color</key>
				<integer>3</integer>
				<key>Size</key>
				<integer>18</integer>
				<key>Tag</key>
				<integer>410</integer>
				<key>Text</key>
				<string>M10</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000001192092896</real>
				<key>Color</key>
				<integer>3</integer>
				<key>Size</key>
				<integer>18</integer>
				<key>Tag</key>
				<integer>406</integer>
				<key>Text</key>
				<string>555</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000001192092896</real>
				<key>Color</key>
				<integer>3</integer>
				<key>Size</key>
				<integer>18</integer>
				<key>Tag</key>
				<integer>407</integer>
				<key>Text</key>
				<string>222</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000001192092896</real>
				<key>Color</key>
				<integer>3</integer>
				<key>Size</key>
				<integer>18</integer>
				<key>Tag</key>
				<integer>408</integer>
				<key>Text</key>
				<string>222</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000001192092896</real>
				<key>Color</key>
				<integer>3</integer>
				<key>Size</key>
				<integer>18</integer>
				<key>Tag</key>
				<integer>409</integer>
				<key>Text</key>
				<string>222</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.5</real>
				<key>Color</key>
				<integer>3</integer>
				<key>Size</key>
				<integer>18</integer>
				<key>Tag</key>
				<integer>410</integer>
				<key>Text</key>
				<string>M10</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>2</integer>
				<key>Size</key>
				<integer>12</integer>
				<key>Tag</key>
				<integer>300</integer>
				<key>Text</key>
				<string>MClear</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>3</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>314</integer>
				<key>Text</key>
				<string>M÷</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>3</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>313</integer>
				<key>Text</key>
				<string>M×</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>3</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>312</integer>
				<key>Text</key>
				<string>M-</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>3</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>311</integer>
				<key>Text</key>
				<string>M+</string>
				<key>Unit</key>
				<string></string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>2</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>200</integer>
				<key>Text</key>
				<string>AC</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>2</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>201</integer>
				<key>Text</key>
				<string>BS</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.84999999999999998</real>
				<key>Color</key>
				<integer>1</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>20</integer>
				<key>Text</key>
				<string>+/-</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.84999999999999998</real>
				<key>Color</key>
				<integer>1</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>30</integer>
				<key>Text</key>
				<string>%</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<integer>1</integer>
				<key>Color</key>
				<integer>1</integer>
				<key>Size</key>
				<integer>30</integer>
				<key>Tag</key>
				<integer>17</integer>
				<key>Text</key>
				<string>00</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>2</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>202</integer>
				<key>Text</key>
				<string>SC</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<integer>1</integer>
				<key>Color</key>
				<integer>1</integer>
				<key>Size</key>
				<integer>32</integer>
				<key>Tag</key>
				<integer>7</integer>
				<key>Text</key>
				<string>7</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<integer>1</integer>
				<key>Color</key>
				<integer>1</integer>
				<key>Size</key>
				<integer>32</integer>
				<key>Tag</key>
				<integer>4</integer>
				<key>Text</key>
				<string>4</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<integer>1</integer>
				<key>Color</key>
				<integer>1</integer>
				<key>Size</key>
				<integer>32</integer>
				<key>Tag</key>
				<integer>1</integer>
				<key>Text</key>
				<string>1</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<integer>1</integer>
				<key>Color</key>
				<integer>1</integer>
				<key>Size</key>
				<integer>32</integer>
				<key>Tag</key>
				<integer>0</integer>
				<key>Text</key>
				<string>0</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>3</integer>
				<key>Size</key>
				<integer>12</integer>
				<key>Tag</key>
				<integer>301</integer>
				<key>Text</key>
				<string>Memory</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<integer>1</integer>
				<key>Color</key>
				<integer>1</integer>
				<key>Size</key>
				<integer>32</integer>
				<key>Tag</key>
				<integer>8</integer>
				<key>Text</key>
				<string>8</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<integer>1</integer>
				<key>Color</key>
				<integer>1</integer>
				<key>Size</key>
				<integer>32</integer>
				<key>Tag</key>
				<integer>5</integer>
				<key>Text</key>
				<string>5</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<integer>1</integer>
				<key>Color</key>
				<integer>1</integer>
				<key>Size</key>
				<integer>32</integer>
				<key>Tag</key>
				<integer>2</integer>
				<key>Text</key>
				<string>2</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<integer>1</integer>
				<key>Color</key>
				<integer>1</integer>
				<key>Size</key>
				<integer>32</integer>
				<key>Tag</key>
				<integer>16</integer>
				<key>Text</key>
				<string>·</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>3</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>311</integer>
				<key>Text</key>
				<string>M+</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<integer>1</integer>
				<key>Color</key>
				<integer>1</integer>
				<key>Size</key>
				<integer>32</integer>
				<key>Tag</key>
				<integer>9</integer>
				<key>Text</key>
				<string>9</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<integer>1</integer>
				<key>Color</key>
				<integer>1</integer>
				<key>Size</key>
				<integer>32</integer>
				<key>Tag</key>
				<integer>6</integer>
				<key>Text</key>
				<string>6</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<integer>1</integer>
				<key>Color</key>
				<integer>1</integer>
				<key>Size</key>
				<integer>32</integer>
				<key>Tag</key>
				<integer>3</integer>
				<key>Text</key>
				<string>3</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.90000000000000002</real>
				<key>Color</key>
				<integer>1</integer>
				<key>Size</key>
				<integer>30</integer>
				<key>Tag</key>
				<integer>100</integer>
				<key>Text</key>
				<string>=</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.90000000000000002</real>
				<key>Color</key>
				<integer>1</integer>
				<key>Size</key>
				<integer>30</integer>
				<key>Tag</key>
				<integer>104</integer>
				<key>Text</key>
				<string>÷</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.90000000000000002</real>
				<key>Color</key>
				<integer>1</integer>
				<key>Size</key>
				<integer>30</integer>
				<key>Tag</key>
				<integer>103</integer>
				<key>Text</key>
				<string>×</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.90000000000000002</real>
				<key>Color</key>
				<integer>1</integer>
				<key>Size</key>
				<integer>36</integer>
				<key>Tag</key>
				<integer>102</integer>
				<key>Text</key>
				<string>-</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.90000000000000002</real>
				<key>Color</key>
				<integer>1</integer>
				<key>Size</key>
				<integer>30</integer>
				<key>Tag</key>
				<integer>101</integer>
				<key>Text</key>
				<string>+</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.90000000000000002</real>
				<key>Color</key>
				<integer>1</integer>
				<key>Size</key>
				<integer>30</integer>
				<key>Tag</key>
				<integer>101</integer>
				<key>Text</key>
				<string>+</string>
				<key>Unit</key>
				<string></string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>1</integer>
				<key>Size</key>
				<integer>18</integer>
				<key>Tag</key>
				<integer>210</integer>
				<key>Text</key>
				<string>+Tax</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>1</integer>
				<key>Size</key>
				<integer>18</integer>
				<key>Tag</key>
				<integer>211</integer>
				<key>Text</key>
				<string>-Tax</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1013</integer>
				<key>Text</key>
				<string>貫</string>
				<key>Unit</key>
				<string>kg;(#*3.75);(#/3.75)</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1115</integer>
				<key>Text</key>
				<string>尺</string>
				<key>Unit</key>
				<string>m;(#*0.303);(#/0.303)</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1213</integer>
				<key>Text</key>
				<string>坪</string>
				<key>Unit</key>
				<string>㎡;(#*3.305785);(#/3.305785)</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.90000000000000002</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1000</integer>
				<key>Text</key>
				<string>kg</string>
				<key>Unit</key>
				<string>kg;#;#</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<integer>1</integer>
				<key>Color</key>
				<integer>1</integer>
				<key>Size</key>
				<integer>32</integer>
				<key>Tag</key>
				<integer>7</integer>
				<key>Text</key>
				<string>7</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<integer>1</integer>
				<key>Color</key>
				<integer>1</integer>
				<key>Size</key>
				<integer>32</integer>
				<key>Tag</key>
				<integer>4</integer>
				<key>Text</key>
				<string>4</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<integer>1</integer>
				<key>Color</key>
				<integer>1</integer>
				<key>Size</key>
				<integer>32</integer>
				<key>Tag</key>
				<integer>1</integer>
				<key>Text</key>
				<string>1</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<integer>1</integer>
				<key>Color</key>
				<integer>1</integer>
				<key>Size</key>
				<integer>32</integer>
				<key>Tag</key>
				<integer>0</integer>
				<key>Text</key>
				<string>0</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.90000000000000002</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1100</integer>
				<key>Text</key>
				<string>m</string>
				<key>Unit</key>
				<string>m;#;#</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<integer>1</integer>
				<key>Color</key>
				<integer>1</integer>
				<key>Size</key>
				<integer>32</integer>
				<key>Tag</key>
				<integer>8</integer>
				<key>Text</key>
				<string>8</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<integer>1</integer>
				<key>Color</key>
				<integer>1</integer>
				<key>Size</key>
				<integer>32</integer>
				<key>Tag</key>
				<integer>5</integer>
				<key>Text</key>
				<string>5</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<integer>1</integer>
				<key>Color</key>
				<integer>1</integer>
				<key>Size</key>
				<integer>32</integer>
				<key>Tag</key>
				<integer>2</integer>
				<key>Text</key>
				<string>2</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<integer>1</integer>
				<key>Color</key>
				<integer>1</integer>
				<key>Size</key>
				<integer>32</integer>
				<key>Tag</key>
				<integer>16</integer>
				<key>Text</key>
				<string>·</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.90000000000000002</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1200</integer>
				<key>Text</key>
				<string>㎡</string>
				<key>Unit</key>
				<string>㎡;#;#</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<integer>1</integer>
				<key>Color</key>
				<integer>1</integer>
				<key>Size</key>
				<integer>32</integer>
				<key>Tag</key>
				<integer>9</integer>
				<key>Text</key>
				<string>9</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<integer>1</integer>
				<key>Color</key>
				<integer>1</integer>
				<key>Size</key>
				<integer>32</integer>
				<key>Tag</key>
				<integer>6</integer>
				<key>Text</key>
				<string>6</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<integer>1</integer>
				<key>Color</key>
				<integer>1</integer>
				<key>Size</key>
				<integer>32</integer>
				<key>Tag</key>
				<integer>3</integer>
				<key>Text</key>
				<string>3</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.90000000000000002</real>
				<key>Color</key>
				<integer>1</integer>
				<key>Size</key>
				<integer>30</integer>
				<key>Tag</key>
				<integer>100</integer>
				<key>Text</key>
				<string>=</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.90000000000000002</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1300</integer>
				<key>Text</key>
				<string>㎥</string>
				<key>Unit</key>
				<string>㎥;#;#</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.90000000000000002</real>
				<key>Color</key>
				<integer>1</integer>
				<key>Size</key>
				<integer>30</integer>
				<key>Tag</key>
				<integer>104</integer>
				<key>Text</key>
				<string>÷</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.90000000000000002</real>
				<key>Color</key>
				<integer>1</integer>
				<key>Size</key>
				<integer>30</integer>
				<key>Tag</key>
				<integer>103</integer>
				<key>Text</key>
				<string>×</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.90000000000000002</real>
				<key>Color</key>
				<integer>1</integer>
				<key>Size</key>
				<integer>36</integer>
				<key>Tag</key>
				<integer>102</integer>
				<key>Text</key>
				<string>-</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.90000000000000002</real>
				<key>Color</key>
				<integer>1</integer>
				<key>Size</key>
				<integer>30</integer>
				<key>Tag</key>
				<integer>101</integer>
				<key>Text</key>
				<string>+</string>
				<key>Unit</key>
				<string></string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Alpha</key>
				<real>0.80000001192092896</real>
				<key>Color</key>
				<integer>3</integer>
				<key>Size</key>
				<real>12</real>
				<key>Tag</key>
				<integer>502</integer>
				<key>Text</key>
				<string>Dropbox</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.20000000000000001</real>
				<key>Color</key>
				<integer>0</integer>
				<key>Size</key>
				<integer>10</integer>
				<key>Tag</key>
				<integer>-1</integer>
				<key>Text</key>
				<string>(Blank)</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.90000000000000002</real>
				<key>Color</key>
				<integer>1</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>105</integer>
				<key>Text</key>
				<string>GT</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.84999999999999998</real>
				<key>Color</key>
				<integer>1</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>32</integer>
				<key>Text</key>
				<string>√</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.84999999999999998</real>
				<key>Color</key>
				<integer>1</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>31</integer>
				<key>Text</key>
				<string>‰</string>
				<key>Unit</key>
				<string></string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.90000000000000002</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1000</integer>
				<key>Text</key>
				<string>kg</string>
				<key>Unit</key>
				<string>kg;#;#</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1003</integer>
				<key>Text</key>
				<string>t</string>
				<key>Unit</key>
				<string>kg;(#*1000);(#/1000)</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1001</integer>
				<key>Text</key>
				<string>g</string>
				<key>Unit</key>
				<string>kg;(#/1000);(#*1000)</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1002</integer>
				<key>Text</key>
				<string>mg</string>
				<key>Unit</key>
				<string>kg;(#/1000000);(#*1000000)</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1014</integer>
				<key>Text</key>
				<string>匁</string>
				<key>Unit</key>
				<string>kg;(#*0.00375);(#/0.00375)</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.90000000000000002</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1100</integer>
				<key>Text</key>
				<string>m</string>
				<key>Unit</key>
				<string>m;#;#</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1103</integer>
				<key>Text</key>
				<string>km</string>
				<key>Unit</key>
				<string>m;(#*1000);(#/1000)</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1101</integer>
				<key>Text</key>
				<string>cm</string>
				<key>Unit</key>
				<string>m;(#/100);(#*100)</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1102</integer>
				<key>Text</key>
				<string>mm</string>
				<key>Unit</key>
				<string>m;(#/1000);(#*1000)</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1115</integer>
				<key>Text</key>
				<string>尺</string>
				<key>Unit</key>
				<string>m;(#*0.303);(#/0.303)</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.90000000000000002</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1200</integer>
				<key>Text</key>
				<string>㎡</string>
				<key>Unit</key>
				<string>㎡;#;#</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1203</integer>
				<key>Text</key>
				<string>ha</string>
				<key>Unit</key>
				<string>㎡;(#*10000);(#/10000)</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1201</integer>
				<key>Text</key>
				<string>c㎡</string>
				<key>Unit</key>
				<string>㎡;(#/10000);(#*10000)</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1205</integer>
				<key>Text</key>
				<string>m㎡</string>
				<key>Unit</key>
				<string>㎡;(#/1000000);(#*1000000)</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1213</integer>
				<key>Text</key>
				<string>坪</string>
				<key>Unit</key>
				<string>㎡;(#*3.305785);(#/3.305785)</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.90000000000000002</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1300</integer>
				<key>Text</key>
				<string>㎥</string>
				<key>Unit</key>
				<string>㎥;#;#</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1302</integer>
				<key>Text</key>
				<string>L</string>
				<key>Unit</key>
				<string>㎥;(#/1000);(#*1000)</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1303</integer>
				<key>Text</key>
				<string>dL</string>
				<key>Unit</key>
				<string>㎥;(#/10000);(#*10000)</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1304</integer>
				<key>Text</key>
				<string>mL</string>
				<key>Unit</key>
				<string>㎥;(#/1000000);(#*1000000)</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1314</integer>
				<key>Text</key>
				<string>合</string>
				<key>Unit</key>
				<string>㎥;(#*0.00018039);(#/0.00018039)</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1010</integer>
				<key>Text</key>
				<string>kt</string>
				<key>Unit</key>
				<string>kg;(#/5000);(#*5000)</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1011</integer>
				<key>Text</key>
				<string>oz</string>
				<key>Unit</key>
				<string>kg;(#*0.028349523125);(#/0.028349523125)</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1012</integer>
				<key>Text</key>
				<string>lb</string>
				<key>Unit</key>
				<string>kg;(#*0.45359237);(#/0.45359237)</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1013</integer>
				<key>Text</key>
				<string>貫</string>
				<key>Unit</key>
				<string>kg;(#*3.75);(#/3.75)</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1014</integer>
				<key>Text</key>
				<string>匁</string>
				<key>Unit</key>
				<string>kg;(#*0.00375);(#/0.00375)</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1110</integer>
				<key>Text</key>
				<string>Adm</string>
				<key>Unit</key>
				<string>m;(#*1852);(#/1852)</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1111</integer>
				<key>Text</key>
				<string>yd</string>
				<key>Unit</key>
				<string>m;(#*0.9144);(#/0.9144)</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1112</integer>
				<key>Text</key>
				<string>ft</string>
				<key>Unit</key>
				<string>m;(#*0.3048);(#/0.3048)</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1113</integer>
				<key>Text</key>
				<string>in</string>
				<key>Unit</key>
				<string>m;(#*0.0254);(#/0.0254)</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1114</integer>
				<key>Text</key>
				<string>mi</string>
				<key>Unit</key>
				<string>m;(#*1609.344);(#/1609.344)</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1115</integer>
				<key>Text</key>
				<string>尺</string>
				<key>Unit</key>
				<string>m;(#*0.303);(#/0.303)</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1116</integer>
				<key>Text</key>
				<string>寸</string>
				<key>Unit</key>
				<string>m;(#*0.0303);(#/0.0303)</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1117</integer>
				<key>Text</key>
				<string>里</string>
				<key>Unit</key>
				<string>m;(#*3927);(#/3927)</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1204</integer>
				<key>Text</key>
				<string>k㎡</string>
				<key>Unit</key>
				<string>㎡;(#*1000000);(#/1000000)</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1202</integer>
				<key>Text</key>
				<string>a</string>
				<key>Unit</key>
				<string>㎡;(#*100);(#/100)</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1210</integer>
				<key>Text</key>
				<string>ac</string>
				<key>Unit</key>
				<string>㎡;(#*4046.8564224);(#/4046.8564224)</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1211</integer>
				<key>Text</key>
				<string>sqft</string>
				<key>Unit</key>
				<string>㎡;(#*0.09290304);(#/0.09290304)</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1212</integer>
				<key>Text</key>
				<string>sqin</string>
				<key>Unit</key>
				<string>㎡;(#*0.00064516);(#/0.00064516)</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1214</integer>
				<key>Text</key>
				<string>畝</string>
				<key>Unit</key>
				<string>㎡;(#*99.17355);(#/99.17355)</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1215</integer>
				<key>Text</key>
				<string>反</string>
				<key>Unit</key>
				<string>㎡;(#*991.7355);(#/991.7355)</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1313</integer>
				<key>Text</key>
				<string>bbl</string>
				<key>Unit</key>
				<string>㎥;(#*0.158987294928);(#/0.158987294928)</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1311</integer>
				<key>Text</key>
				<string>cuft</string>
				<key>Unit</key>
				<string>㎥;(#*0.028316846592);(#/0.028316846592)</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1312</integer>
				<key>Text</key>
				<string>galus</string>
				<key>Unit</key>
				<string>㎥;(#*0.003785411784);(#/0.003785411784)</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1310</integer>
				<key>Text</key>
				<string>cuin</string>
				<key>Unit</key>
				<string>㎥;(#*0.000016387064);(#/0.000016387064)</string>
			</dict>
			<dict>
				<key>Alpha</key>
				<real>0.80000000000000004</real>
				<key>Color</key>
				<integer>4</integer>
				<key>Size</key>
				<integer>20</integer>
				<key>Tag</key>
				<integer>1315</integer>
				<key>Text</key>
				<string>升</string>
				<key>Unit</key>
				<string>㎥;(#*0.0018039);(#/0.0018039)</string>
			</dict>
		</array>
	</array>
</dict>
</plist>
