<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>P0C6R3</key>
	<dict>
		<key>Tag</key>
		<integer>32</integer>
		<key>Text</key>
		<string>√</string>
	</dict>
	<key>P0C6R4</key>
	<dict>
		<key>Tag</key>
		<integer>31</integer>
		<key>Text</key>
		<string>‰</string>
	</dict>
	<key>P1C0R0</key>
	<dict>
		<key>Tag</key>
		<integer>200</integer>
		<key>Text</key>
		<string>AC</string>
	</dict>
	<key>P1C0R1</key>
	<dict>
		<key>Tag</key>
		<integer>202</integer>
		<key>Text</key>
		<string>SC</string>
	</dict>
	<key>P1C0R3</key>
	<dict>
		<key>Tag</key>
		<integer>20</integer>
		<key>Text</key>
		<string>+/-</string>
	</dict>
	<key>P1C0R4</key>
	<dict>
		<key>Tag</key>
		<integer>30</integer>
		<key>Text</key>
		<string>%</string>
	</dict>
	<key>P1C0R5</key>
	<dict>
		<key>Tag</key>
		<integer>105</integer>
		<key>Text</key>
		<string>GT</string>
	</dict>
	<key>P1C1R0</key>
	<dict>
		<key>Tag</key>
		<integer>300</integer>
		<key>Text</key>
		<string>MClear</string>
	</dict>
	<key>P1C1R1</key>
	<dict>
		<key>Tag</key>
		<integer>201</integer>
		<key>Text</key>
		<string>BS</string>
	</dict>
	<key>P1C1R3</key>
	<dict>
		<key>Tag</key>
		<integer>18</integer>
		<key>Text</key>
		<string>000</string>
	</dict>
	<key>P1C1R4</key>
	<dict>
		<key>Tag</key>
		<integer>17</integer>
		<key>Text</key>
		<string>00</string>
	</dict>
	<key>P1C1R5</key>
	<dict>
		<key>Tag</key>
		<integer>0</integer>
		<key>Text</key>
		<string>0</string>
	</dict>
	<key>P1C2R0</key>
	<dict>
		<key>Tag</key>
		<integer>301</integer>
		<key>Text</key>
		<string>Memory</string>
	</dict>
	<key>P1C2R2</key>
	<dict>
		<key>Tag</key>
		<integer>7</integer>
		<key>Text</key>
		<string>7</string>
	</dict>
	<key>P1C2R3</key>
	<dict>
		<key>Tag</key>
		<integer>4</integer>
		<key>Text</key>
		<string>4</string>
	</dict>
	<key>P1C2R4</key>
	<dict>
		<key>Tag</key>
		<integer>1</integer>
		<key>Text</key>
		<string>1</string>
	</dict>
	<key>P1C2R5</key>
	<dict>
		<key>Tag</key>
		<integer>0</integer>
		<key>Text</key>
		<string>0</string>
	</dict>
	<key>P1C3R0</key>
	<dict>
		<key>Tag</key>
		<integer>311</integer>
		<key>Text</key>
		<string>M+</string>
	</dict>
	<key>P1C3R2</key>
	<dict>
		<key>Tag</key>
		<integer>8</integer>
		<key>Text</key>
		<string>8</string>
	</dict>
	<key>P1C3R3</key>
	<dict>
		<key>Tag</key>
		<integer>5</integer>
		<key>Text</key>
		<string>5</string>
	</dict>
	<key>P1C3R4</key>
	<dict>
		<key>Tag</key>
		<integer>2</integer>
		<key>Text</key>
		<string>2</string>
	</dict>
	<key>P1C3R5</key>
	<dict>
		<key>Tag</key>
		<integer>16</integer>
		<key>Text</key>
		<string>.</string>
	</dict>
	<key>P1C4R0</key>
	<dict>
		<key>Tag</key>
		<integer>312</integer>
		<key>Text</key>
		<string>M-</string>
	</dict>
	<key>P1C4R2</key>
	<dict>
		<key>Tag</key>
		<integer>9</integer>
		<key>Text</key>
		<string>9</string>
	</dict>
	<key>P1C4R3</key>
	<dict>
		<key>Tag</key>
		<integer>6</integer>
		<key>Text</key>
		<string>6</string>
	</dict>
	<key>P1C4R4</key>
	<dict>
		<key>Tag</key>
		<integer>3</integer>
		<key>Text</key>
		<string>3</string>
	</dict>
	<key>P1C4R5</key>
	<dict>
		<key>Tag</key>
		<integer>100</integer>
		<key>Text</key>
		<string>=</string>
	</dict>
	<key>P1C5R0</key>
	<dict>
		<key>Tag</key>
		<integer>313</integer>
		<key>Text</key>
		<string>M×</string>
	</dict>
	<key>P1C5R1</key>
	<dict>
		<key>Tag</key>
		<integer>210</integer>
		<key>Text</key>
		<string>+Tax</string>
	</dict>
	<key>P1C5R2</key>
	<dict>
		<key>Tag</key>
		<integer>103</integer>
		<key>Text</key>
		<string>×</string>
	</dict>
	<key>P1C5R3</key>
	<dict>
		<key>Tag</key>
		<integer>103</integer>
		<key>Text</key>
		<string>×</string>
	</dict>
	<key>P1C5R4</key>
	<dict>
		<key>Tag</key>
		<integer>101</integer>
		<key>Text</key>
		<string>+</string>
	</dict>
	<key>P1C5R5</key>
	<dict>
		<key>Tag</key>
		<integer>101</integer>
		<key>Text</key>
		<string>+</string>
	</dict>
	<key>P1C6R0</key>
	<dict>
		<key>Tag</key>
		<integer>314</integer>
		<key>Text</key>
		<string>M÷</string>
	</dict>
	<key>P1C6R1</key>
	<dict>
		<key>Tag</key>
		<integer>211</integer>
		<key>Text</key>
		<string>-Tax</string>
	</dict>
	<key>P1C6R2</key>
	<dict>
		<key>Tag</key>
		<integer>104</integer>
		<key>Text</key>
		<string>÷</string>
	</dict>
	<key>P1C6R3</key>
	<dict>
		<key>Tag</key>
		<integer>104</integer>
		<key>Text</key>
		<string>÷</string>
	</dict>
	<key>P1C6R4</key>
	<dict>
		<key>Tag</key>
		<integer>102</integer>
		<key>Text</key>
		<string>-</string>
	</dict>
	<key>P1C6R5</key>
	<dict>
		<key>Tag</key>
		<integer>102</integer>
		<key>Text</key>
		<string>-</string>
	</dict>
	<key>P2C0R0</key>
	<dict>
		<key>Tag</key>
		<integer>1000</integer>
		<key>Text</key>
		<string>kg</string>
	</dict>
	<key>P2C0R1</key>
	<dict>
		<key>Tag</key>
		<integer>1003</integer>
		<key>Text</key>
		<string>t</string>
	</dict>
	<key>P2C0R2</key>
	<dict>
		<key>Tag</key>
		<integer>1001</integer>
		<key>Text</key>
		<string>g</string>
	</dict>
	<key>P2C0R3</key>
	<dict>
		<key>Tag</key>
		<integer>1002</integer>
		<key>Text</key>
		<string>mg</string>
	</dict>
	<key>P2C0R4</key>
	<dict>
		<key>Tag</key>
		<integer>1012</integer>
		<key>Text</key>
		<string>lb</string>
	</dict>
	<key>P2C0R5</key>
	<dict>
		<key>Tag</key>
		<integer>1011</integer>
		<key>Text</key>
		<string>oz</string>
	</dict>
	<key>P2C0R6</key>
	<dict>
		<key>Tag</key>
		<integer>1010</integer>
		<key>Text</key>
		<string>kt</string>
	</dict>
	<key>P2C1R0</key>
	<dict>
		<key>Tag</key>
		<integer>1100</integer>
		<key>Text</key>
		<string>m</string>
	</dict>
	<key>P2C1R1</key>
	<dict>
		<key>Tag</key>
		<integer>1103</integer>
		<key>Text</key>
		<string>km</string>
	</dict>
	<key>P2C1R2</key>
	<dict>
		<key>Tag</key>
		<integer>1101</integer>
		<key>Text</key>
		<string>cm</string>
	</dict>
	<key>P2C1R3</key>
	<dict>
		<key>Tag</key>
		<integer>1102</integer>
		<key>Text</key>
		<string>mm</string>
	</dict>
	<key>P2C1R4</key>
	<dict>
		<key>Tag</key>
		<integer>1110</integer>
		<key>Text</key>
		<string>Adm</string>
	</dict>
	<key>P2C1R5</key>
	<dict>
		<key>Tag</key>
		<integer>1014</integer>
		<key>Text</key>
		<string>匁</string>
	</dict>
	<key>P2C1R6</key>
	<dict>
		<key>Tag</key>
		<integer>1013</integer>
		<key>Text</key>
		<string>貫</string>
	</dict>
	<key>P2C2R0</key>
	<dict>
		<key>Tag</key>
		<integer>1100</integer>
		<key>Text</key>
		<string>m</string>
	</dict>
	<key>P2C2R1</key>
	<dict>
		<key>Tag</key>
		<integer>1111</integer>
		<key>Text</key>
		<string>yd</string>
	</dict>
	<key>P2C2R2</key>
	<dict>
		<key>Tag</key>
		<integer>1112</integer>
		<key>Text</key>
		<string>ft</string>
	</dict>
	<key>P2C2R3</key>
	<dict>
		<key>Tag</key>
		<integer>1113</integer>
		<key>Text</key>
		<string>in</string>
	</dict>
	<key>P2C2R4</key>
	<dict>
		<key>Tag</key>
		<integer>1114</integer>
		<key>Text</key>
		<string>mi</string>
	</dict>
	<key>P2C2R5</key>
	<dict>
		<key>Tag</key>
		<integer>1116</integer>
		<key>Text</key>
		<string>寸</string>
	</dict>
	<key>P2C2R6</key>
	<dict>
		<key>Tag</key>
		<integer>1115</integer>
		<key>Text</key>
		<string>尺</string>
	</dict>
	<key>P2C3R0</key>
	<dict>
		<key>Tag</key>
		<integer>1200</integer>
		<key>Text</key>
		<string>㎡</string>
	</dict>
	<key>P2C3R1</key>
	<dict>
		<key>Tag</key>
		<integer>1204</integer>
		<key>Text</key>
		<string>k㎡</string>
	</dict>
	<key>P2C3R2</key>
	<dict>
		<key>Tag</key>
		<integer>1203</integer>
		<key>Text</key>
		<string>ha</string>
	</dict>
	<key>P2C3R3</key>
	<dict>
		<key>Tag</key>
		<integer>1202</integer>
		<key>Text</key>
		<string>a</string>
	</dict>
	<key>P2C3R4</key>
	<dict>
		<key>Tag</key>
		<integer>1201</integer>
		<key>Text</key>
		<string>c㎡</string>
	</dict>
	<key>P2C3R5</key>
	<dict>
		<key>Tag</key>
		<integer>1205</integer>
		<key>Text</key>
		<string>m㎡</string>
	</dict>
	<key>P2C3R6</key>
	<dict>
		<key>Tag</key>
		<integer>1117</integer>
		<key>Text</key>
		<string>里</string>
	</dict>
	<key>P2C4R0</key>
	<dict>
		<key>Tag</key>
		<integer>1200</integer>
		<key>Text</key>
		<string>㎡</string>
	</dict>
	<key>P2C4R1</key>
	<dict>
		<key>Tag</key>
		<integer>1210</integer>
		<key>Text</key>
		<string>ac</string>
	</dict>
	<key>P2C4R2</key>
	<dict>
		<key>Tag</key>
		<integer>1211</integer>
		<key>Text</key>
		<string>sqft</string>
	</dict>
	<key>P2C4R3</key>
	<dict>
		<key>Tag</key>
		<integer>1212</integer>
		<key>Text</key>
		<string>sqin</string>
	</dict>
	<key>P2C4R4</key>
	<dict>
		<key>Tag</key>
		<integer>1213</integer>
		<key>Text</key>
		<string>坪</string>
	</dict>
	<key>P2C4R5</key>
	<dict>
		<key>Tag</key>
		<integer>1214</integer>
		<key>Text</key>
		<string>畝</string>
	</dict>
	<key>P2C4R6</key>
	<dict>
		<key>Tag</key>
		<integer>1215</integer>
		<key>Text</key>
		<string>反</string>
	</dict>
	<key>P2C5R0</key>
	<dict>
		<key>Tag</key>
		<integer>1300</integer>
		<key>Text</key>
		<string>㎥</string>
	</dict>
	<key>P2C5R1</key>
	<dict>
		<key>Tag</key>
		<integer>1302</integer>
		<key>Text</key>
		<string>L</string>
	</dict>
	<key>P2C5R2</key>
	<dict>
		<key>Tag</key>
		<integer>1303</integer>
		<key>Text</key>
		<string>dL</string>
	</dict>
	<key>P2C5R3</key>
	<dict>
		<key>Tag</key>
		<integer>1304</integer>
		<key>Text</key>
		<string>mL</string>
	</dict>
	<key>P2C5R4</key>
	<dict>
		<key>Tag</key>
		<integer>1301</integer>
		<key>Text</key>
		<string>c㎥</string>
	</dict>
	<key>P2C5R5</key>
	<dict>
		<key>Tag</key>
		<integer>1313</integer>
		<key>Text</key>
		<string>bbl</string>
	</dict>
	<key>P2C5R6</key>
	<dict>
		<key>Tag</key>
		<integer>1312</integer>
		<key>Text</key>
		<string>galus</string>
	</dict>
	<key>P2C6R0</key>
	<dict>
		<key>Tag</key>
		<integer>1300</integer>
		<key>Text</key>
		<string>㎥</string>
	</dict>
	<key>P2C6R1</key>
	<dict>
		<key>Tag</key>
		<integer>1311</integer>
		<key>Text</key>
		<string>cuft</string>
	</dict>
	<key>P2C6R2</key>
	<dict>
		<key>Tag</key>
		<integer>1310</integer>
		<key>Text</key>
		<string>cuin</string>
	</dict>
	<key>P2C6R3</key>
	<dict>
		<key>Tag</key>
		<integer>1305</integer>
		<key>Text</key>
		<string>cc</string>
	</dict>
	<key>P2C6R4</key>
	<dict>
		<key>Tag</key>
		<integer>1314</integer>
		<key>Text</key>
		<string>合</string>
	</dict>
	<key>P2C6R5</key>
	<dict>
		<key>Tag</key>
		<integer>1315</integer>
		<key>Text</key>
		<string>升</string>
	</dict>
	<key>P2C6R6</key>
	<dict>
		<key>Tag</key>
		<integer>1316</integer>
		<key>Text</key>
		<string>斗</string>
	</dict>
</dict>
</plist>
