<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Alpha</key>
		<real>0.5</real>
		<key>Color</key>
		<integer>3</integer>
		<key>Size</key>
		<integer>24</integer>
		<key>Tag</key>
		<integer>401</integer>
		<key>Text</key>
		<string>M1</string>
		<key>Unit</key>
		<string></string>
	</dict>
	<dict>
		<key>Alpha</key>
		<real>0.5</real>
		<key>Color</key>
		<integer>3</integer>
		<key>Size</key>
		<integer>24</integer>
		<key>Tag</key>
		<integer>402</integer>
		<key>Text</key>
		<string>M2</string>
		<key>Unit</key>
		<string></string>
	</dict>
	<dict>
		<key>Alpha</key>
		<real>0.5</real>
		<key>Color</key>
		<integer>3</integer>
		<key>Size</key>
		<integer>24</integer>
		<key>Tag</key>
		<integer>403</integer>
		<key>Text</key>
		<string>M3</string>
		<key>Unit</key>
		<string></string>
	</dict>
	<dict>
		<key>Alpha</key>
		<real>0.5</real>
		<key>Color</key>
		<integer>3</integer>
		<key>Size</key>
		<integer>24</integer>
		<key>Tag</key>
		<integer>404</integer>
		<key>Text</key>
		<string>M4</string>
		<key>Unit</key>
		<string></string>
	</dict>
	<dict>
		<key>Alpha</key>
		<real>0.5</real>
		<key>Color</key>
		<integer>3</integer>
		<key>Size</key>
		<integer>24</integer>
		<key>Tag</key>
		<integer>405</integer>
		<key>Text</key>
		<string>M5</string>
		<key>Unit</key>
		<string></string>
	</dict>
	<dict>
		<key>Alpha</key>
		<real>0.5</real>
		<key>Color</key>
		<integer>3</integer>
		<key>Size</key>
		<integer>24</integer>
		<key>Tag</key>
		<integer>406</integer>
		<key>Text</key>
		<string>M6</string>
		<key>Unit</key>
		<string></string>
	</dict>
	<dict>
		<key>Alpha</key>
		<real>0.5</real>
		<key>Color</key>
		<integer>3</integer>
		<key>Size</key>
		<integer>24</integer>
		<key>Tag</key>
		<integer>407</integer>
		<key>Text</key>
		<string>M7</string>
		<key>Unit</key>
		<string></string>
	</dict>
	<dict>
		<key>Alpha</key>
		<real>0.5</real>
		<key>Color</key>
		<integer>3</integer>
		<key>Size</key>
		<integer>24</integer>
		<key>Tag</key>
		<integer>408</integer>
		<key>Text</key>
		<string>M8</string>
		<key>Unit</key>
		<string></string>
	</dict>
	<dict>
		<key>Alpha</key>
		<real>0.5</real>
		<key>Color</key>
		<integer>3</integer>
		<key>Size</key>
		<integer>24</integer>
		<key>Tag</key>
		<integer>409</integer>
		<key>Text</key>
		<string>M9</string>
		<key>Unit</key>
		<string></string>
	</dict>
	<dict>
		<key>Alpha</key>
		<real>0.5</real>
		<key>Color</key>
		<integer>3</integer>
		<key>Size</key>
		<integer>24</integer>
		<key>Tag</key>
		<integer>410</integer>
		<key>Text</key>
		<string>M10</string>
		<key>Unit</key>
		<string></string>
	</dict>
	<dict>
		<key>Alpha</key>
		<real>0.5</real>
		<key>Color</key>
		<integer>3</integer>
		<key>Size</key>
		<integer>24</integer>
		<key>Tag</key>
		<integer>411</integer>
		<key>Text</key>
		<string>M11</string>
		<key>Unit</key>
		<string></string>
	</dict>
	<dict>
		<key>Alpha</key>
		<real>0.5</real>
		<key>Color</key>
		<integer>3</integer>
		<key>Size</key>
		<integer>24</integer>
		<key>Tag</key>
		<integer>412</integer>
		<key>Text</key>
		<string>M12</string>
		<key>Unit</key>
		<string></string>
	</dict>
	<dict>
		<key>Alpha</key>
		<real>0.5</real>
		<key>Color</key>
		<integer>3</integer>
		<key>Size</key>
		<integer>24</integer>
		<key>Tag</key>
		<integer>413</integer>
		<key>Text</key>
		<string>M13</string>
		<key>Unit</key>
		<string></string>
	</dict>
	<dict>
		<key>Alpha</key>
		<real>0.5</real>
		<key>Color</key>
		<integer>3</integer>
		<key>Size</key>
		<integer>24</integer>
		<key>Tag</key>
		<integer>414</integer>
		<key>Text</key>
		<string>M14</string>
		<key>Unit</key>
		<string></string>
	</dict>
	<dict>
		<key>Alpha</key>
		<real>0.5</real>
		<key>Color</key>
		<integer>3</integer>
		<key>Size</key>
		<integer>24</integer>
		<key>Tag</key>
		<integer>415</integer>
		<key>Text</key>
		<string>M15</string>
		<key>Unit</key>
		<string></string>
	</dict>
</array>
</plist>
